<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <span class="logo-title">Geeks For Charity</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#home">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link" href="/user/orgnization">Orgnizations</a></li>
           <li><a class="nav-link" href="/user/dashboard">Opportunities</a></li>
           <li class="dropdown"><a href=""><span>Categories</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/Health/opportunities">Health</a></li>
              <li><a href="/Entertainment/opportunities">Entertainment</li></a>
              <li><a href="/Community/opportunities">Community</a></li>
              <li><a href="/Caltural/opportunities">Caltural</a></li>
              <li><a href="/Organization/opportunities">Organization</a></li>
              <li><a href="/Housing/opportunities">Housing</a></li>
              <li><a href="/Training/opportunities">Training</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/user/login">As Volunteer</a></li>
              <li><a href="/org/login">As Organization</li></a>
            </ul>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->