@model User;
<partial name="_MainNav"/>

<div class="container my-2">
 <h1 class="text-center brand display-1">
        Volunteers Registration
    </h1>
<div class="row shadow">
<section class="p-3 col-md-5">
    <form asp-action="RegisterForm" asp-controler="User" class="h-100">
    <div class="row my-2">
        <div class="col-md-6">
            <div class='form-group'>
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName" >
                <span class='text-danger' asp-validation-for="FirstName"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class='form-group'>
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName" >
                <span class='text-danger' asp-validation-for="LastName"></span>
            </div>
        </div>
    </div>
    <div class="form-group my-2">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" >
                <span class='text-danger' asp-validation-for="Email"></span>
    </div>
    
    <div class='form-group my-2'>
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" >
            <span class='text-danger' asp-validation-for="Password"></span>
    </div>

    <div class='form-group my-2'>
        <label asp-for="Confirm"></label>
        <input class="form-control" asp-for="Confirm" >
        <span class='text-danger' asp-validation-for="Confirm"></span>
    </div>
    <div class='form-group'>
                <label asp-for="DoB"></label>
                <input class="form-control" asp-for="DoB" >
                <span class='text-danger' asp-validation-for="DoB"></span>
            </div>
    <div class="row my-2">
        <div class="col-md-6">
            <div class='form-group'>
                <label asp-for="Country"></label>
                <input class="form-control" asp-for="Country" >
                <span class='text-danger' asp-validation-for="Country"></span>
            </div>
        </div>
           <div class="col-md-6">
            <div class='form-group'>
                <label asp-for="City"></label>
                <input class="form-control" asp-for="City" >
                <span class='text-danger' asp-validation-for="City"></span>
            </div>
        </div>
    </div>
        <div class="form-group my-2">
                <label asp-for="Phone"></label>
                <input class="form-control" asp-for="Phone" >
                <span class='text-danger' asp-validation-for="Phone"></span>
    </div>

    <label>Gender</label> <br>
    <div class="form-check form-check-inline my-2">
            <input class="form-check-input" type="radio" asp-for="Gender" id="inlineRadio1" value="male">
            <label class="form-check-label" for="inlineRadio1">Male</label>
    </div>
        <div class="form-check form-check-inline my-2">
            <input class="form-check-input" type="radio" asp-for="Gender" id="inlineRadio2" value="female">
            <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
        <div>
        <button class='btn button my-2'>Register</button> 
        </div>
      
       

    </form>
    
</section>
<!-- here add pic -->
<div class="col-md-6 d-flex align-items-end con">
<h3 class="cout">“Your Greatness is not what you have, it's what you give.”</h3>
    <img src="~/assets/img/Reg.svg"/>
<div>
</div>
</div>